* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    min-height: 400px;
}

.card {
    height: 514px;
    border: 1px solid white;
}
.flag img{
    width: 20px;
}

.poster-vuoto {
    width: 200px;
}
section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 342px) ;
    grid-gap: 30px;
    margin-bottom: 20px;
}